<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.utilisateur.cookhelper">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_stroumph_cleaned"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddRecipe"
            android:label="@string/title_activity_add_recipe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchRecipe"
            android:label="@string/title_activity_search_recipe" />
        <activity
            android:name=".AddIngredient"
            android:label="@string/title_activity_add_ingredient" />
        <activity
            android:name=".ViewRecipe"
            android:label="@string/title_activity_view_recipe" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".AddIngredientToRecipe"
            android:label="@string/title_activity_add_ingredient_to_recipe"
            android:parentActivityName=".AddRecipe"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.utilisateur.cookhelper.AddRecipe" />
        </activity>
        <activity
            android:name=".AddInstructionsToRecipe"
            android:label="@string/title_activity_add_instructions_to_recipe"
            android:parentActivityName=".AddIngredientToRecipe"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.utilisateur.cookhelper.AddIngredientToRecipe" />
        </activity>
        <activity android:name=".HelpSearchRecipe" />
        <activity android:name=".HelpAddRecipe" />
        <activity android:name=".HelpAddIngredient" />
        <activity android:name=".HelpMenu"></activity>
    </application>

</manifest>